<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>servlet.Image</servlet-class>
    <init-param>
      <param-name>userId</param-name>
      <param-value>&quot;&quot;</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlet.EditProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCV</servlet-name>
    <servlet-class>servlet.UpdateCV</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>servlet.ViewProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCV</servlet-name>
    <servlet-class>servlet.ViewCV</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>servlet.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCV</servlet-name>
    <url-pattern>/UpdateCV</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCV</servlet-name>
    <url-pattern>/ViewCV</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>3600</session-timeout>
  </session-config>
</web-app>