/*#site_content { 
  width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  padding: 0;}

#left_content { 
  float: left;
  text-align: justify;
  width: 450px;
  padding: 20px 0 5px 25px;
  margin: 0;}

#right_content { 
  float: right;
  text-align: justify;
  width: 450px;
  padding: 20px 0 5px 25px;
  margin: 0;}*/