body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
/*	background:#f0f0f0;*/
}
p {
	margin-bottom:0;
}
p:first-child {
	margin-top:0;
}
img {
	max-width:100%;
	height:auto;
}
/*---html tags end----*/
/*////////////////////*/
/*---site structure---*/
.site-wrapper {
	width:100%;
	height:100%;
	position:relative;
	top:50px;
}
.site-center {
	width:100%;
	max-width:980px;
	height:100%;
	margin:0 auto;
	position:relative;
}
.content-offset {
	height:100%;
}
.content-frame {
	display: table;
	width: 100%;
	position:relative;
	overflow:hidden;
	font-family: 'RalewayMedium', Arial, Helvetica, sans-serif;
	line-height: 25px;
	font-size: 15px;
	letter-spacing:normal;
	background:#fff;
}
html>/**/body .content-frame {
	min-height: 100%;
}

.row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}
html>body .row.expand {
	height: auto;
}
#content {
	text-align:justify;
  min-width:100px;
}
.inner-padding {
	padding: 0px 32px 10px 63px;
}
.header-padding {
	padding:20px 16px 10px 47px;
	position:relative;
}
.header-content {
	width:100%;
	position:relative;
}
.fixed-wrapper {
	position:absolute;
	margin-left: 50px;
	height:100%;
}
.fixed-content {
	min-height:100%;
	position:fixed;
	top:50px;
	text-align: center;
}

/*----responsive css------*/
/*////////////////////////*/
/*---fixed sidebar size---*/
.fixed-wrapper, .fixed-content {
	max-width:260px;/*desktop value 280px*/
	padding-top: 15px;
}

.content-offset {
	margin-left:301px; /*fixed-wrapper width +21px (desktop 301px)*/
  min-width:100px;
}
/*-fixed sidebar size end-*/
/*////////////////////////*/
/*---responsive css end---*/
.cv-section{
	 text-decoration: underline;
	 font-weight: bold;
}
.year{
	color: #089DE3;
}
 #section1 {
 	min-height:100px;
 	color: black; 
 	
 }
  #section2 , #section4, #section3{
  	//padding-top:30px;
  	min-height:100px;
  	color: black; 
  }

img.cv-photo{
	width: 180px;
	height: 180px;
	border-radius: 100px;
	border: 1px solid white;
	text-align: center;
}
.name-label{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
    margin-left: 5px;
    font-family: 'Roboto','Open Sans', 'PT Sans', Arial, sans-serif !important;
}
span.skills-btn {
	text-decoration: none;
	padding: 10px;
	font-size:13px;
	background-color: #444444 ;
	color: white;
	border: 2px solid #D84D0A;
}
/*span.skills-btn:hover{
	color: #D84D0A;
}*/