.page {
  margin: 20px 0
}
a:hover{
  text-decoration: none;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  top:52px;
  padding: 0 20px;
  min-height: 600px;
}

.content-wrapper {
  float: left;
  width: 100%;
}


.content {
  margin-right: 260px;
  clear: both;
  overflow: auto;
  min-height: 450px;
}

.sidebar {
  position: relative;
  width: 240px;
  margin-left: -320px;
  float: right;
  overflow: hidden;
  /*border: 1px solid gray;*/
  /*border-radius: 3px;*/
  color: #eee;
  min-height: 450px;
}
.post-box{
  margin-bottom: 10px;
}
.feeds{
  min-height: 50px;
}
.posts{
  margin-bottom: 5px;
}
@media only screen and (max-width: 568px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-right: 0;
  }
}
/*Resizable text area*/
textarea.vert { resize:vertical; }

/*comment box*/
.editor{
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dddfe2;
}
.editor-header{
      border-bottom: 1px solid rgba(75, 79, 86, 0.29);
  height: 34px;
  color: #dddfe2;
}
.editor-header a{
  display: inline;
  padding: 15px 5px 15px 5px;
  color: #D84D0A;
  text-decoration: none;
  line-height: 34px;
}

.editor-buttons{
  padding: 5px 5px 5px 10px;
  outline: none;
  height: 35px;
  /*border-top: 0.1px solid #ccc;*/
  background:#dddfe2;
}
.editor-buttons a{
  margin-left: 5px;
  margin-right: 5px;
}
.editor-content{
  /*outline: none;*/
  min-height: 45px;
  border-bottom: 0.1px solid #ccc;

  /*background: #f9f9f9;
  border-radius: 0px 0px 0px 0px;*/
  width: 100%;
}

/*.editor-content:focus{
  background: #fff;
}*/
.post-body{
  min-height: 45px;
  padding: 5px 10px 5px 10px;
  -moz-box-shadow: 3px 0px 3px 0px #cecece;
  -webkit-box-shadow: 3px 0px 3px 0px #cecece;
  box-shadow: 2px 0px 2px 0px #cecece;

}
.post-btn{
  border:1px solid gray; 
  border-radius:5px; 
  background-color:#337ab7; 
  color: #fff; 
  text-decoration:none; 
  padding-left:10px; 
  padding-right:10px; 
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom:2px;
}
.post-btn a:hover{
  text-decoration: none;
  color: white;
}
.list-comments{
  /*margin-top: 30px;*/
  border: 1px solid #ccc;
  background: #f0f0f0;
}

.list-comments > div{
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.list-comments > div:last-child{
  border-bottom: none;
}
input.write-post{
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background:rgba(255,255,255,.15);
    margin: 0 0 10px 0;
    width: 100%;
}
.write-comment{
  background-color: #fff; 
  border: 1px solid #bdc7d8;
     box-sizing: border-box;
    color: #90949c;
    cursor: text;
    padding: 3px 5px;
}
input.write-comment {
    border-color: #1c90f3;
    /* border-top-color: rgb(221, 223, 226);
    border-right-color: rgb(221, 223, 226);
    border-bottom-color: rgb(221, 223, 226);
    border-left-color: rgb(221, 223, 226); */
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 100%;
}
