body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
/*	background:#f0f0f0;*/
}
p {
	margin-bottom:0;
}
p:first-child {
	margin-top:0;
}
img {
	max-width:100%;
	height:auto;
}
/*---html tags end----*/
/*////////////////////*/
/*---site structure---*/
.site-wrapper {
	width:100%;
	height:100%;
	position:relative;
	top:50px;
}
.site-center {
	width:100%;
	max-width:980px;
	height:100%;
	margin:0 auto;
	position:relative;
}
.content-offset {
	height:100%;
}
.content-frame {
	display: table;
	width: 100%;
	position:relative;
	overflow:hidden;
	font-family: 'RalewayMedium', Arial, Helvetica, sans-serif;
	line-height: 25px;
	font-size: 15px;
	letter-spacing:normal;
	background:#fff;
}
html>/**/body .content-frame {
	min-height: 100%;
}

.row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}
html>body .row.expand {
	height: auto;
}
#content {
	text-align:justify;
  min-width:100px;
}
.inner-padding {
	padding: 0px 32px 10px 30px;
}
.header-padding {
	padding:20px 16px 10px 47px;
	position:relative;
}
.header-content {
	width:100%;
	position:relative;
}
.fixed-wrapper {
	position:absolute;
	margin-left: 80px;
	height:100%;
}
.fixed-content {
	min-height:100%;
	position:relative;
	top:0px;
	text-align: center;
}

/*----responsive css------*/
/*////////////////////////*/
/*---fixed sidebar size---*/
.fixed-wrapper, .fixed-content {
	max-width:260px;/*desktop value 280px*/
	/*padding-top: 15px;*/
}

.content-offset {
	margin-left:301px; /*fixed-wrapper width +21px (desktop 301px)*/
  min-width:100px;
}
/*-fixed sidebar size end-*/
/*////////////////////////*/
/*---responsive css end---*/
.cv-section{
	 text-decoration: underline;
}
.year{
	color: #089DE3;
}
 #section1 {
 	min-height:100px;
 	color: black; 
 	
 }
  #section2 , #section4, #section3{
  	padding-top:30px;
  	min-height:100px;
  	color: black; 
  }
 
img.cv-photo{
	width: 180px;
	height: 180px;
	border-radius: 100px;
	border: 1px solid white;
/*	text-align: center;*/
}
.name-label{
        padding-left: 4px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
span.skills-btn {
	text-decoration: none;
	padding: 10px;
	font-size:13px;
	background-color: #444444 ;
	color: white;
	border: 2px solid #D84D0A;
}
 .input-box{
  	border: 1px solid #c1c1c1;
  	border-radius: 3px;
  	background-color: #fff;
  	font-size: 15px;
  	color: black;
  	    margin-left: 5%;
  }
  .update-form{
  	font-size: 11pt;
  	color: #5f5f5f;
  	font-family: 'Open Sans' sans-serif;
  }

.profile-photo{
	margin-top: 10px;
	margin-bottom: 20px;
}
/*span.skills-btn:hover{
	color: #D84D0A;
}*/

/*Upload link*/
#upload_link{
    margin-top: 20px;
    text-decoration:none;  
}
#upload{
    display:none;
    
}