div{
	box-sizing: border-box;
}

.main-container{
	/*border:2px solid black;*/ 
	position:relative; 
	top:50px;
}
.cover-photo{
	/*border: 2px solid black;*/
	height: 300px;
	width: inherit;
	background-image: url("http://mybroadband.co.za/news/wp-content/uploads/2016/04/University-of-Cape-Town-UCT.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    /* background-position: center;*/
    /*background-size: contain;*/
}
.profile-header{
	display: block;
	padding-top: 90px;
	padding-left: 35px;
	padding-bottom: 25px;
	z-index: 1;
	/*text-align: center;*/
}
.profile-photo{
	border-radius: 11px;
	width: 140px;
	height: 140px;
	margin-left: 15px;
	border: 3px solid black;
}
.profile-photo>img{
	width: inherit;
	height: inherit;
	text-align: center;
}
.name-holder{
	font-size: 40px;
	color: white;
}
#profile-nav{
	border: 1px solid gray;
	text-align: center;
	background-color: #455868;
	height:37px;
}
#profile-nav a{
	font-size: 20px;
	display: inline;
	margin-left: 12px;
	margin-right: 12px;
	color: white;
	text-decoration: none;
	font-family:sans-serif;
	font-size: 10pt;
	line-height: 37px;
}
#profile-nav a:hover{
	border-bottom: 2px solid white;
	text-decoration: none;
	color: white;
}

#profile-nav.affix{
	 border-top: 1px solid white;
	 position: fixed;
	 left:150px;
	 text-align: center;
	 top: 50px;
	 background-color: white;
	 width: 76.4%;
	 margin-left: auto;
	 margin-right: auto;
	 z-index: 1;
	 background-color: #455868;
	 border-bottom: 1px solid white;
}
#section1 {padding-top:30px; min-height:300px; color: black; background-color: #F1F1F1;}
#section2 {padding-top:30px; min-height:300px; color: black; background-color: #F7F7F7}
#section3 {padding-top:30px; min-height:300px; color: black; background-color: #F1F1F1;}
#section4 {padding-top:30px; min-height:300px; color: black; background-color: #F7F7F7}
#section5 {padding-top:30px; min-height:300px; color: black; background-color: #F1F1F1;}